<div class="contenedor_centrado">
  <div class="lista_preguntas">
    <h2>Elige la pregunta</h2>
    <ul>
      <% var i; for (i=0; i<quizes.length; i++) { %>
        <li>
          <a class="boton" href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
          <% if (session.user) { %>
            <a class="editar" title="Editar" href="quizes/<%= quizes[i].id %>/edit"></a>
            <form class="form_borrar" method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
              <button type="submit" class="borrar" title="Borrar"
                onClick="return confirm('Realmente desea borrar la pregunta: <%= quizes[i].pregunta %>');" />
            </form>
          <% } %>
        </li>
      <% } %>
    </ul>
    <form method="get" action="/quizes">
      <p>Filtrar preguntas por: <input type="text" name="search" class="caja_texto"/>
      <input type="submit" value="Filtrar" class="boton buscar"/></p>
    </form>
    <% if (session.user) { %>
      <br />
      <p>
        <a href="/quizes/new" class="boton anadir">Crear pregunta</a>
      </p>
    <% } %>
  </div>
</div>
